@font-face{
    font-family: "TF2";
    src: local("/fonts/TF2.ttf") format('truetype');
}

body {
    background: #F3A957;
    font-family: "TF2";
}

#wholepage {
    margin: 0 auto;
    width: 700px;
    height: 800px;
}

#header1 {
    margin: 0 auto;
    width: 45%;
}

#header2 {
    padding-top: 10px;
    margin: 0 auto;
    width: 20%;
}

#actualRPS {
    margin: 0 auto;
    width: 700px;
    /*border: 3px solid green;*/
}

#playerContainer {
    margin: 0 auto;
    position: relative;
    right: 200px;
    top: 65px;
    width: 130px;
    height: 175px;
    /*border: 3px solid green;
    */
}

#cpuContainer {
    margin: 0 auto;
    position: relative;
    left: 200px;
    bottom: 110px;
    width: 130px;
    height: 175px;
    /*border: 3px solid green;
    */
}

.iconContainer {
    position: relative;
    top: 50px;
    /*border: 3px solid green;
    */
}

.scoreboard {
    font-size: 190%;
    width: 100%;
    position: relative;
    left: 10px;
    top: 10px;
    /*border: 3px solid green;*/
}

#selectRPS {
    position: relative; top: 70px;
    margin: 0 auto;
    width: 80%;
}

#selectTitle {
    margin: 0 auto;
    width: 25%;
    padding-bottom: 60px;
}

#buttonsRPS {
    margin: 0 auto;
}

.choice {
    height: 80px;
    width: 80px;
}

#rock {
    position: relative; left: 70px;
}

#scissors {
    position: relative; left: 122px;
}

#paper {
    position: relative; left: 170px;
}